{% extends 'inventory/base.html' %}

{% block content %}
<div class="content">
    <h1>My Bookings List</h1>
    <table class="booking-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Equipment</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in reservations %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.status }}</td>
                    <td>{{ booking.equipment.name }}</td>
                    <td>{{ booking.start_date }}</td>
                    <td>{{ booking.end_date }}</td>
                    <td>{{ booking.equipment.location.location_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No bookings found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
