{% extends 'inventory/base.html' %}

{% block content %}
<div class="content">
    <h1>My Bookings List</h1>
    <table class="booking-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Equipment</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in reservations %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.equipment.name }}</td>
                <td>{{ booking.start_date }}</td>
                <td>{{ booking.end_date }}</td>
                <td>{{ booking.equipment.location.location_name }}</td>
                <td>
                    {% if booking.status in "Pending Approved" %}
                    <form action="{% url 'inventory:cancel_reservation' booking.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No bookings found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

