{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}Update Account Information{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/editAccount.css' %}">
<script>
    window.onload = function() {
        var editButton = document.getElementById("editButton");
        var form = document.querySelector("form");

        editButton.addEventListener("click", function(event) {
            event.preventDefault();
            form.submit(); 
        });
    };
</script>
{% endblock %}

{% block content %}
<h1>Update Account Details</h1>

<div class="content">
    <div class="text-box">
        <!-- Use '#' for action to prevent actual submission for now -->
        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="firstName">First name:</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter first name" value="{{ user.first_name }}"/>
            </div>

            <div class="input-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter last name" value="{{ user.last_name }}"/>
            </div>

            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter email" value="{{ user.email }}"/>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <!-- Removing password pre-fill for security reasons, also it is generally not displayed -->
                <input type="password" id="password" name="password" placeholder="Enter new password"/>
            </div>

            <div class="input-group">
                <label for="alerts">Receive Alerts?</label>
                <input type="checkbox" id="alerts" name="alerts" {% if user.profile.receive_alerts %}checked{% endif %}>
            </div>
        </form>
        <button id="editButton">Save Changes</button>
    </div>
</div>
{% endblock %}
