<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="flex-container">
        <div class="image-container">
            <img src="{% static 'images/IMG_2913.jpeg' %}" alt="Vault Image" />
        </div>
        <div class="login-container">
            <h2>YHUEN'S VAULT</h2>
            {% if error %}
                <div class="error-messages">
                    <span class="error">{{ error }}</span>
                </div>
            {% endif %}
            <form method="post" action="{% url 'inventory:login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required />
            
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required />
            
                <button type="submit">Log In</button>
            </form>
            <a href="{% url 'inventory:register' %}">Don't have an account? Sign up here!</a>
        </div>
    </div>
</body>
</html>
