/*Simona Bosilkova */

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    padding: 20px;
}

.inline-text ul {
    display: flex; /* Display list items horizontally */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline-text li {
    color: rgb(252, 163, 17);
    margin-right: 20px;
}

.inline-text a {
    text-decoration: none;
    color: rgb(252, 163, 17);
}
.content {
    padding: 20px;
}

h1 {
    color: rgb(252, 163, 17);
    display: inline-block;
    margin-right: 20px; /* Spacing between the title and the filter button */
}

.filter-button {
    background-color: rgb(252, 163, 17);
    color: RGB(20, 33, 61);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em;
    display: inline-block;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.booking-table th,
.booking-table td {
    border: 1px solid #FFF;
    padding: 10px;
    text-align: left;
}

.booking-table th {
    background-color: #004165;
    color: white;
}

.booking-table td {
    background-color: #2C3E50;
    color: white;
}

button:hover{
    background-color: orange;
}

button {
    margin-right: 20px;
    width: 100%;
}

  