/*Simona Bosilkova */

body {
    background-color: RGB(20, 33, 61);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.top-content {
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    align-items: center;
    padding: 20px;
}

.inline-text ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline-text li {
    color: rgb(252, 163, 17);
    margin-right: 20px;
}

.inline-text a {
    text-decoration: none;
    color: rgb(252, 163, 17);
}
.content {
    padding: 20px;
}

h1 {
    color: rgb(252, 163, 17);
    display: inline-block;
    margin-right: 20px; /* Spacing between the title and the filter button */
}

.filter-button{
    background-color: rgb(252, 163, 17);
    color: RGB(20, 33, 61);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

.filter-button {
    text-decoration: none;
    color: rgb(252, 163, 17);
    background-color: #004165;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
    background-color: rgb(252, 163, 17);
    color: RGB(20, 33, 61);
}

#applyFilters,
.btn-btn-primary{
    width: 100%;
}

#applyFilters{
    margin-top: 10px;
}

.btn-btn-primary,
#applyFilters{
    text-decoration: none;
    color: rgb(252, 163, 17);
    background-color: #004165;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}


.btn-btn-primary:hover,
#applyFilters:hover{
    background-color: rgb(20, 33, 61);
    color: RGB(252, 163, 17);
}

.equipment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.equipment-table th,
.equipment-table td {
    border: 1px solid #FFF;
    padding: 10px;
    text-align: left;
}

.equipment-table th {
    background-color: #004165;
}

.equipment-table td {
    background-color: #2C3E50;
}

.equipment-table tr:hover td,
.equipment-table tr:hover  {
    background-color: #a2700f;
    cursor: pointer;
}

/*for the pop up filter*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgb(252, 163, 17);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color: black;
}

#quantity-required{
    width: 15%;
}

#purpose{
    display: block;
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #888;
    box-sizing: border-box;
    background-color: #d2d2d2;
}

#applyFilters{
    width: 100%;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #827257;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    text-align: center;
    padding: 10px 0;
}

.step-links {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
}

.step-links a {
    text-decoration: none;
    color: rgb(252, 163, 17);
    background-color: #004165;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: rgb(252, 163, 17);
    color: RGB(20, 33, 61);
}

/* Current page indicator */
.current {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #a2700f; /
    color: white;
}