body {
    background-color: RGB(20, 33, 61);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.equipment-details {
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.details-text {
    margin-right: 20px;
}

.item-name {
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 0.5em;
}

.item-detail {
    font-size: 1.2em;
    color: #FFF;
    margin-top: 10px;
}

.quantity-form {
    margin-left: 50px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.inline-text ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline-text li {
    color: rgb(252, 163, 17);
    margin-right: 20px;
}

.inline-text a {
    text-decoration: none;
    color: rgb(252, 163, 17);
}

.main-content {
    padding: 20px;
}

h1 {
    color: rgb(252, 163, 17);
    text-align: left;
    margin-left: 50px;
}

.quantity-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.quantity-form label {
    color: rgb(252, 163, 17);
    margin-right: 10px;
}

.quantity-form input {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

#reserve-button {
    background-color: rgb(252, 163, 17);
    color: RGB(20, 33, 61);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}

.footer {
    background-color: #004165;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}


#reserve-button {
    background-color: #f90;
    color: #000;
}

#reserve-button:hover {
    background-color: #fb3;
    color: white;
}

.close {
    font-size: 24px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}


.modal-content {
    background-color: #282828;
    color: white;
    border: 1px solid #444;
}


.modal input[type='number'] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.modal input[type='number']::placeholder {
    color: #bbb;
}

.modal {
    z-index: 1050;
}
